%h4 Registration fee:
%ul
  %li   early registration (by July 15th): 270 EUR
  %li   reduced early registration (by July 15th): 180 EUR
  %li   late registration (by August 15th): 350 EUR
  %li   reduced late registration (by August 15th): 230 EUR
  %li   participation to the IFIP meeting: 160 EUR

%p If you are interested to obtain a grant, please select "I apply for a grant" when registering and your application will be taken into account. Our grant budget is limited, so if you have an alternative source of funding easily available, please consider that someone else may need a grant more than you do!

%p Attendees from countries that are not in the list #{link_to 'http://data.worldbank.org/income-level/HIC' ,'http://data.worldbank.org/income-level/HIC'} should pay the reduced fees. Registration fee includes lunches and coffee breaks in the days of the workshop. It does not include dinners and accomodation.
%p Participation and attendance at IFIP meeting 2014 is only possible for WG members and guests.
%br
%h4 Please use the following account for paying the registration fee:
%p Institutul de Matematica Simion Stoilow al Academiei Romane

%p Banca Comerciala Romana

%p IBAN: RO42NBCB0080005630240005

%p SWIFT: RNCBROBU
%p Unfortunately, we do not have direct access to this account. Therefore, registration can only be confirmed after we have evidence that the money have been transfered to the account. We would be grateful if the participants would support us in speeding this process up by providing a proof of payment in any convenient format (image file, PDF).


