%br
%p
  Sinaia is a touristic city, with many hotels and pensions.

.br 
  #{link_to image_tag("Sinaia4.jpg",size: "900x400", alt: "Sinaia_photo"),''} 
  %br
  %br
  %strong More information about accommodation to come.
  %br
  %br
  #{link_to image_tag("peles_castle.jpg",size: "900x400", alt: "Sinaia_photo"),''}


