%br
%p
  Sinaia is a touristic city, with many hotels and pensions.

%br 
%p #{link_to 'Hotel International Sinaia', 'http://www.international-sinaia.ro'} offers a discount of 10 euro/day/room for reservations until July 15th 2014. To benefit of the offer, mention that you are going to attend #{Settings.name} when making the booking. 
%h4 Price for Rooms:
%ul
  %li  Double            : 75 euro
  %li  Double(single use): 68 euro
  %li  Double (deluxe)   : 83 euro
%br
 

