.content
  %h3.pagetitle Aims and scope:
  %p.body
    The algebraic approach to system specification encompasses many aspects of the formal design of software systems. Originally born as formal method for reasoning about abstract data types, it now covers new specification frameworks and programming paradigms (such as object-oriented, aspect-oriented, agent-oriented, logic and higher-order functional programming) as well as a wide range of application areas (including information systems, concurrent, distributed and mobile systems).
  %h3.pagetitle Topics of interest:
  %p.body
    Typical, but not exclusive topics of interest are:
  %ul
    %li Foundations of algebraic specification
    %li Other approaches to formal specification, including process calculi and models of concurent, distributed and mobile computing
    %li Specification languages, methods, and environments
    %li Semantics of conceptual modelling methods and techniques
    %li Model-driven development
    %li Graph transformations, term rewriting and proof systems
    %li Integration of formal specification techniques
    %li Formal testing and quality assurance
    %li Validation and verification