%br
%p 
	Registration is now closed. For any enquiries regarding registration, please contact the WADT 2014 organizing committee at #{link_to Settings.contact, "mailto:wadt2014@gmail.com",:class =>"link"}.






