%h3{:align => "center"} #{Settings.name} Invited speakers
%br

%h5 The invited speakers of #{Settings.name} will be:
%ul
 %li= link_to 'K. Rustan M. Leino',"http://research.microsoft.com/en-us/um/people/leino/"
 %li= link_to 'Christoph Benzmüller',"http://page.mi.fu-berlin.de/cbenzmueller/"


