%br

%h5 The scientific programme of the workshop will include presentations of recent results and ongoing research. The presentations will be selected by the Steering Committee on the basis of submitted abstracts according to originality, significance and general interest. The abstracts must be up to two pages long including references. If a longer version of the condtribution is available, it can be made accessible on the web and referenced in the abstract.
%h5
 %p The abstracts have to be submitted electronically via the EasyChair system, at URL 
 = link_to 'http://www.easychair.org/conferences/?conf=wadt2014',"http://www.easychair.org/conferences/?conf=wadt2014"
%br
%h5 The final versions of the selected abstracts will be included in a hand-out for the workshop participants.
%h5
 %p After, the workshops, the authors will be invited to submit full papers for the refereed proceedings, which is expected to be published as a volume of Lecture notes in Computer Science (Springer Verlag).

