%h2{:align => "center"} #{Settings.conf_name} #{Settings.conf_year} Travel Information
%p
  Sinaia is one of the most beautiful mountain town in this area of Europe. A famous skiing resort surrounded by majestic mountains but yet an old royal town with many architectural monuments. The most famous touristic spots are Peleș Castle and its park, the Casino, the central park, Enescu's house, Sinaia monastery. Also the medieval saxon city of Brașov and the Bran Castle are within 1 hour of reach from Sinaia.
  %br
  %br
  Different ways to travel from Henri Coandă International Airport to Sinaia:
  %br
  %br
  1.Take bus or taxi to Bucharest city, go to the North Railway Station (RO: Gara de Nord) and take a train to Sinaia. Journey by train takes about 2 hours.
  %br
  %br
  Sinaia is also reachable directly by train, e.g. via Budapest.
