!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to #{Settings.name} #{@member.firstname}
    %p
      You have successfully registered for #{Settings.name}
      Please make payment via bank tranfer.
    %p Thanks for joining and have a great day!