<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WADT  2014 <%= @member.firstname %></h1>
    <p>
      You have successfully signed up  for WADT-2014.

      Please make payment via bank tranfer.
      
    </p>
    <p>
      
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>