Welcome to #{Settings.name}, #{@member.firstname}
\===============================================

You have successfully registered for #{Settings.name}

 Registration fee:
    
        - early registration: 270 EUR
        - reduced early registration: 180 EUR
        - late registration: 350 EUR
        - reduced late registration: 230 EUR
        - participation to the IFIP meeting: 160 EUR

Attendees from countries that are not in the list http://data.worldbank.org/income-level/HIC should pay the reduced fees. Registration fee includes lunches and coffee breaks in the days of the workshop. It does not include dinners and accomodation.
Participation and attendance at IFIP meeting 2014 is only possible for WG members and guests.
    
 Please use the following account for paying the registration fee:
 Institutul de Matematica Simion Stoilow al Academiei Romane

 Bank: Comerciala Romana

 IBAN: RO42RBCB0080005630240005

 SWIFT: RNCBROBU

  
 Unfortunately, we do not have direct access to this account. Therefore, 
 registration can only be confirmed after we have evidence that the money
 have been transfered to the account. We would be grateful if the participants
 would support us in speeding this process up by providing a proof of payment
 in any convenient format (image file, PDF). Otherwise, there is the risk that the 
 receipt that you will get from the organizers will be signed by us but will not have
 the official stamp of IMAR.

If you have any queries regarding WADT 2014, please feel free to contact at #{Settings.contact}

