Welcome to #{Settings.name}, #{@member.firstname}
\===============================================

You have successfully registered for #{Settings.name}

Information regarding registration fee and payment method will be posted soon on WADT homepage.

If you have any queries regarding WADT 2014 ,please feel free to contact at wadt2014@gmail.com

