!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to WADT  2014 #{@member.firstname}
    %p
      You have successfully signed up  for WADT-2014.
      Please make payment via bank tranfer.
    %p Thanks for joining and have a great day!
