<% if current_member.role? == "student" %>
<h1> As a student, you can apply for Grant. Please visit 'Grants and Scholarships' section for more information</h1>
<% end %>

<% unless current_member.is_admin ==true %>
<h2> hi, <%=current_member.firstname %> ,please find your details </h2>

<div>
	<ul>
	<li><%= current_member.firstname %></li>
    <li><%= current_member.lastname %></li>
    </ul>
 <% end %>

 <%if  current_member.is_admin == true %>
 <h3> As a Admin,you can access admin section at /admin URL. </h3>
 <% end %>

</div>
