




<!--<% if member_signed_in? %>
<h3>You have succesfully Registered for the conferance</h3>
<%= link_to "Sign Out", destroy_member_session_path, :method => :delete %>

<% else %> 

<h1> Welcome to WADT-2014 Conference </h1>
<%= link_to "Sign In", new_member_session_path, :method => :get%>


<% end %>

-->




