/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 

 */

 @import "home.css.scss";

 @import "bootstrap";
 $main-color : #3bbfce;



 

 header {

background-color: main-color

 }

 .text_area {
  resize: vertical;
  width: 55%; //Change as per your requirement
  display: inline-block;
  margin: auto;
}



 body { padding-left: 40px; 
background-color: main-color;
font-family: verdana;
font-size :14px;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

 

