@charset "UTF-8";
/* CSS Document */
@import "bootstrap";

 $Linkcolor: #6cae93; 

.link{

	color: $Linkcolor;
}


@font-face {
	font-family: bell-gothic;
	src: url(assets/fonts/bell-gothic-bold.woff) format('woff');
}



.l4 {
font-family: bell-gothic;
font: medium/1.5em; font-size: 20px;
}

.l6 {

font-family: bell-gothic;
font: medium/1.5em; font-size: 28px;
}

.news-font{

	font-size:16px;
}
.n
{
   font-family: bell-gothic;
   font: medium/1.5em; font-size: 22px;
   color: #28396d;
}


$bgDefault      : #F8F2F7;
$bgHighlight    : #28396d; //This is navy-blue color of active link bacground color 
$colDefault     : #6cae93; //This is green font color of navbar
$colHighlight   :  #eeeeee; //This is grey 

.navbar-nav,.nav-pills.nav-stacked {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					background-color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}

.nav-pills.nav-stacked{

    margin-left: 5px;
    width: 175px;
}

.container {
    
    margin-left: 166px;
    margin-right: 190px;
	margin-top: 15px;
	margin-bottom: 10px;
	max-width:980px;
	background-color: #FAFAFA;

}


#center_text{

  text-align: center;
}


#navbarfont{

font: medium/1.5em; font-size: medium;
line-height: 1.0em;
}

#logo{

	margin-left: 10px;
}

#content{
 max-width: 640px;	

}

#title{

  margin-top: 10px;

}


footer {


}














