<b>WADT 2014</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Home page: &nbsp; <A HREF="http://wadt2014.ab/wadt2014">http://wadt2014.ab/wadt2014</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Email: &nbsp; wadt2014@xyz.ab