<b>WADT 2014</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Home page: &nbsp; <A HREF="http://maude.sip.ucm.es/wadt2012">http://maude.sip.ucm.es/wadt2012</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Email: &nbsp; wadt2012 <img src="img/mail_at.png" width="13" height="13"> fdi.ucm.es