%div.collapse.navbar-collapse.navbar-footer-collapse{:id => "footer"}
%p.nav.navbar-nav
  %a{href: "#"}
    %span9.label.label-info WADT 2014
  %a{href: "#"}
    %span9.label.label-info Email
  %a{href: "#"}
    %span9.label.label-info Contact
  %a{href: "admin"}
    %span9.label.label-info Admin
 