%nav#sidebar
 %ul.nav.nav-pills.nav-stacked.center
  %li{class: current_page?(root_path) && 'active'} #{ link_to "Home", root_path}
  - @list.each do |a|
  -s=a.sub(" & " ,'_').downcase
  -s=s.sub(" ","_")
  -s1='/members/'+s
   %li{class: is_active?(s1)} #{link_to a,s}
    
		